
#chale{
	margin-top: 150px;
	margin-right: 50px;
	width: 200px;
	height: 200px;
	border-radius: 2px;
}

body{
	background-image: url('Back.jpg');
	width: 110%;
	height: 100vh;
	 background-repeat: no-repeat;
	 background-position:top;
	 --webkit-scrollbar {
      display: none;
  }
	}

li{
	width: 50px;
	height: 50px;
	margin-top: 20px ;
}

li ,a {
	text-decoration: none;
	text-align: center;
	color: yellow;
	letter-spacing: 12px;

}
h1{
	font-style: italic;
	color:#1BD8E5;
	letter-spacing: 10px;

}
nav{
	margin-top: 100px;
}
.Menu{
	margin-top: 300px;
}
.footer{
 
  text-align: left;
  height:300px;
  border-radius: 50px;
  opacity: 0.75;
}
.footer h4 {
  margin-left: 120px;
}
.footer p {
  margin-left: 120px;
}
.parrafo{
  margin-left: 50px;
}

.footer img{
  margin-top: 50px;
  margin-right: 250px;
  height:200px;
  width: 200px;
  margin-left: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.75);
}
